/* Advertising card starts */

.advertising {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    overflow: hidden;
}

.advertising__card {
    display: grid;
    grid-template-rows: 75% 25%;
    background: #FF7010;
    border-radius: 12px;
    min-width: 300px;
    width: 300px;
    height: 343px;
    overflow: hidden;
    text-decoration: none;
}

.advertising__card h4 {
    padding: 20px;
    padding-right: 40px;
    color: #fff;
    align-self: end;
}

.advertising__card__red {
    background: #E23535;
    align-items: center;
}

/* Advertising card ends */