.nav-bar {
    margin: 30px 0;
}

.nav-bar__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.nav-bar__list a {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #F0F0F0;
    border-radius: 12px;
    padding: 20px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.nav-bar__list a:hover {
    background: #eeeeee;
}

/* .nav-bar__list a img {
    width: 32px;
    height: 32px;
} */

.nav-bar__list a span {
    font-size: 18px;
    line-height: 24px;
    padding: 8px;
}